@keyframes fadeIn{
	from{
	transform:translateX(35px);
	opacity:0
}
to{
	transform:transformX(0);
	opacity:1
}

}
@keyframes joggle{
	0%, 50%, 100%{
	transform:translateX(0)
}
25%, 75%{
	transform:translateX(3px)
}

}
@font-face{
	font-family:'icomoon';
	src:url("/assets/themes/3-Jekyll/icon/icomoon.eot?-oxan25");
	src:url("/assets/themes/3-Jekyll/icon/icomoon.eot?#iefix-oxan25") format("embedded-opentype"),url("/assets/themes/3-Jekyll/icon/icomoon.woff?-oxan25") format("woff"),url("/assets/themes/3-Jekyll/icon/icomoon.ttf?-oxan25") format("truetype"),url("/assets/themes/3-Jekyll/icon/icomoon.svg?-oxan25#icomoon") format("svg");
	font-weight:normal;
	font-style:normal
}
.sidebar-social-icon:before,#search-box:before,.toc-link:before,.post-meta-span.date:before,.post-meta-span.tag:before,.post-meta-span.comment:before,.post blockquote:before,.post-share-icon:before,#menu-icons{
	font-family:'icomoon';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.toc-link:before{
	content:"\e600"
}
.toc-link_title{
	width: 100%;
	height: 100%;
	margin-right: 5px;
	  /*background: #9aa4af;*/
	  /*border: 2px solid #9aa4af;*/
	  /*border-radius: 50%;*/
	  display: inline-block;
	/*  -webkit-transition: border-color .35s;
	  -moz-transition: border-color .35s;
	  -ms-transition: border-color .35s;
	  -o-transition: border-color .35s;
	  transition: border-color .35s;*/
	}
.toc-link_date{
	color: #9aa4af;
	font-size: 14px;
	float: right;
}




.post blockquote:before{
	content:"\e601"
}
.sidebar-social-icon.weibo:before,.post-share-icon.weibo:before{
	content:"\e602"
}
.post-share-icon.evernote:before{
	content:"\e603"
}
.post-meta-span.date:before{
	content:"\e014"
}
#search-box:before{
	content:"\e036"
}
.post-meta-span.comment:before{
	content:"\e076"
}
.post-meta-span.tag:before{
	content:"\e085"
}
#menu-icons:before{
	content:"\e094"
}
#menu-icons:after{
	content:"\e095"
}
.sidebar-social-icon.email:before{
	content:"\ea86"
}
.post-share-icon.twitter:before{
	content:"\ea91"
}
.sidebar-social-icon.twitter:before{
	content:"\ea93"
}
.sidebar-social-icon.feed:before{
	content:"\ea96"
}
.sidebar-social-icon.dribbble:before{
	content:"\eaa8"
}
.sidebar-social-icon.github:before{
	content:"\eab1"
}
.sidebar-social-icon.codepen:before{
	content:"\eae4"
}
*,*:before,*:after{
	box-sizing:border-box
}
html{
	height:100%
}
body{
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	color:#283444;
	font:400 16px/1 "Open Sans","Hiragino Sans GB",sans-serif;
	background:#F8F8F8;
	-webkit-font-smoothing:subpixel-antialiased;
	overflow:hidden
}
input,textarea,button{
	appearance:none
}
input::-moz-focus-inner,textarea::-moz-focus-inner,button::-moz-focus-inner{
	border:0;
	padding:0
}
#sidebar{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	z-index:20;
	width:551px;


	/*background:#474D57;
	border_right:1px solid #3c4149;
	box-shadow: inset -15px 0 15px -15px #222;
	*/
	overflow:hidden;
	transition:left 0.35s cubic-bezier(0.77, 0, 0.175, 1),transform 0.35s cubic-bezier(0.77, 0, 0.175, 1);
	user-select:none
}
#avatar {
  width: 100px;
  height: 100px;
  margin: 55px auto 35px;
  background: url(/assets/img/yun_small.png);
  border-radius: 50%;
  box-shadow: 0 0 0px 4px white, 0 0 4px 4px #eee;
  overflow: hidden;
  display: block; }
  #avatar:hover {
    -webkit-animation: spin .35s linear infinite;
    -moz-animation: spin .35s linear infinite;
    -ms-animation: spin .35s linear infinite;
    -o-animation: spin .35s linear infinite;
    animation: spin .35s linear infinite; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #avatar {
      background: url(/assets/img/avatar@2X.png);
      -webkit-background-size: 100px 100px;
      -moz-background-size: 100px 100px;
      background-size: 100px 100px; } }
#sidebar-left{
	float:left;
	width:170px;

	background: #474d57;

  	border-right: 1px solid #3c4149;

  	box-shadow: inset -15px 0 15px -15px #222;

  	height:100%
}
#sidebar-right{
	float:left;

	width:380px;

	background: rgba(240, 240, 240, 0.95);

	border-right: 1px solid #e5e8ec;

	height:100%
}
#sidebar-avatar{
	display:block;
	width:128px;
	margin:4vh auto 1.5vh;
	border:4px solid rgba(255,255,255,0.75);
	border-radius:50%;
	overflow:hidden
}
#sidebar-avatar-img{
	display:block;
	width:100%
}
#sidebar-social{
	padding:0 10px 3vh;
	text-align:center
}
.sidebar-social-icon{
	display:inline-block;
	margin:0 1px;
	font-size:22px;
	text-decoration:none;
	color:rgba(255,255,255,0.6);
	outline:none;
	transition:color 0.15s linear
}
.sidebar-social-icon:hover{
	color:#FFF
}
#sidebar-tags{
	margin:0;
	padding:0;
	list-style:none;
	border-top:1px solid #3c4149;
	border-bottom:1px solid #515965

}
.sidebar-tag{
	font-size:17px;
	line-height:50px;
	text-align:center;
	color:rgba(255,255,255,0.7);
	border-top:1px solid #515965;
	border-bottom:1px solid #3c4149;
	transition:color 0.15s linear,box-shadow 0.3s cubic-bezier(0.77, 0, 0.175, 1);
	cursor:pointer
}
.sidebar-tag:hover{
	color:rgba(255,255,255,0.85);
	box-shadow:inset 6px 0 0 rgba(255,255,255,0.5)
}
.sidebar-tag.active{
	color:#444;
	margin-right: -1px;
	border-right: 1px solid #FAFAFA;
	border-radius: 5px 0 0 5px;
	position: relative;
	box-shadow:inset 170px 0 0 #FAFAFA
}
#search-box{
	position:relative;
	margin: 20px 30px 10px 30px;
	margin-bottom:1px
}
#search-box:before{
	position:absolute;
	top:0;
	right:15px;
	z-index:-1;
	font-size:24px;
	line-height:24px;
	margin: 5px 0px 0px 0px;
	color:rgba(0,0,0,1.0)
}
#search-input{
	width:100%;
	height:50%;
	padding:0px 15px 0px 10px;
	font-size:18px;
	line-height:34px;
	color:#252525;
	background:rgba(255,255,255,0.1);
	border:1px solid rgba(50,50,50,0.3);
	font-color:#252525;
	border-radius:30px;
	outline:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

#search-input::-webkit-input-placeholder{
	color:rgba(55,55,55,0.4)
}
#search-input::-moz-placeholder{
	color:rgba(255,255,255,0.7);
	opacity:1
}
#search-input:-moz-placeholder{
	color:rgba(255,255,255,0.7);
	opacity:1
}
#search-input:-ms-input-placeholder{
	color:rgba(255,255,255,0.7)
}

#toc{
	height:calc(100% - 65px);
	padding-top:15px;
	/*background:rgba(255,255,255,0.5);*/
	overflow-y:auto;
	-webkit-overflow-scrolling:touch
}
#toc:after{
	content:"";
	float:left;
	clear:both;
	width:100%;
	height:10px
}
#toc::-webkit-scrollbar{
	width:8px
}
#toc::-webkit-scrollbar-thumb{
	background:#AAA;
	border-radius:8px
}
.toc-link{
	position:relative;
	/*float:left;*/
	clear:both;
	/*margin:5px 0;*/
	padding:0 15px 0 32px;
	font-size:16px;
	line-height:22px;
	white-space:nowrap;
	text-decoration:none;
	text-overflow:ellipsis;
	color:#55606F;
	overflow:hidden;
	outline:none;
	display: block;
}

.toc-link:before{
	position:absolute;
	top:2px;
	left:12px;
	z-index:1;
	font-size:18px;
	color:#309E85;
	transition:transform 0.15s linear
}
.toc-link:visited:before{
	color:#55606F
}
.toc-link:hover:before{
	animation:joggle 0.6s linear
}



#main{
	float:right;
	width:calc(100% - 551px);
	height:100%;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	transition:width 0.35s cubic-bezier(0.77, 0, 0.175, 1)
}
.container{
	/*max-width:800px;*/
	width:90%;
	margin:auto;
	padding:0 10px
}
h2,h3,h4,h5,h6{
	margin-top:45px;
	margin-bottom:15px;
	color:#283444
}
h1+h2,h2+h3,h3+h4,h4+h5,h5+h6{
	margin-top:30px
}


.post{
	padding-top:2em;
	font-size:18px;
	line-height:1.6;
	/*text-shadow:1px 1px 0 #fff*/
}
.post-title{
	margin:0 0 22.5px;
	font-size:1.8em;
	color:#283444
}
.post-meta{
	font-size:0.9em;
	color:#BCC1C4
}
.post-meta-span{
	margin-right:1em
}
.post-meta-span.date:before{
	margin-right:0.2em
}
.post-meta-span.tag:before{
	margin-right:0.2em
}
.post-meta-span.comment:before{
	margin-right:0.2em
}
.post a{
	word-break:break-all;
	text-decoration:none;
	color:#4e6584;
	outline:none
}
.post a:hover{
	color:#309E85
}
.post p,.post ul,.post ol{
	margin-top:0;
	margin-bottom:30px
}
.post ul,.post ol{
	padding-left:1.5em
}
.post li{
	margin-bottom:7.5px
}
.post li>ul,.post li>ol{
	margin-top:7.5px;
	margin-bottom:0
}
.post blockquote{
	position:relative;
	margin:0 0 30px 2em;
	font-style:italic
}
.post blockquote:before{
	position:absolute;
	top:0;
	left:-1.5em;
	z-index:1;
	transform:rotate(180deg)
}
.post img{
	display:block;
	/*width:100%;*/
	border:4px solid #eee
}
.post code{
	font-family:"Droid Sans Mono",monospace;
	font-size:0.9em
}
.post *:not(pre)>code{
	padding:0 0.25em;
	color:#3b4d64;
	background:#f3f3f3
}
.post pre{

  background: #333333;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
   font: .85em Consolas, Monaco, 'Andale Mono', monospace;
  background: #333333;
 border-radius: 8px;
color: #EEE;
border: 2px solid #0AF;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 1.42857143;
    margin-right: 130px;
    -webkit-border-radius: 8px;
  vertical-align: 2px;

}
.post pre::-webkit-scrollbar{
	height:7px
}
.post pre::-webkit-scrollbar-thumb{
	background:#BCC1C4
}
.post pre::-webkit-scrollbar-thumb:hover{
	background:#a1a8ac
}
.post hr{
	height:0;
	margin:60px 0;
	border:none;
	border-top:1px solid #ebebeb
}
.post-share{
	margin:2em 0;
	padding-top:0.7em;
	padding-bottom:0.6em;
	font-size:28px;
	text-align:center;
	background:#f5f5f5
}
.post-share-icon{
	margin:0 10px;
	text-decoration:none;
	color:#BCC1C4;
	transition:color 0.15s linear;
	outline:none
}
.post-share-icon:hover{
	color:#309E85
}
#disqus_thread>a{
	color:#309E85
}
.footer{
	margin-top:50px;
	padding-bottom:30px;
	font-size:14px;
	line-height:20px;
	text-align:center;
	color:#BCC1C4
}
.footer-entry{
	margin:0
}
.footer-entry>a{
	color:#939ba0;
	text-decoration:none;
	transition:color 0.15s linear;
	outline:none
}
.footer-entry>a:hover{
	color:#309E85
}

#menu{
	display:none;
	position:fixed;
	top:20px;
	right:30px;
	z-index:30;
	width:42px;
	height:42px;
	padding:0;
	background:transparent;
	border:none;
	border-radius:2px;
	outline:none;
	overflow:hidden;
	cursor:pointer
}
#menu-icons{
	display:block;
	width:200%;
	height:42px;
	margin-left:-100%;
	font-size:24px;
	line-height:42px;
	color:#fff;
	background:linear-gradient(136deg, #C2E987, #309E85);
	overflow:hidden;
	transition:transform 0.35s cubic-bezier(0.77, 0, 0.175, 1)
}
#menu-icons:before{
	float:left;
	width:50%
}
#menu-icons:after{
	float:left;
	width:50%
}
#menu.open>#menu-icons{
	transform:translateX(50%)
}
#nprogress{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	height:3px
}
#nprogress>.bar{
	height:100%;
	background:#00ACF4
}
.lineno{
	color:#BCC1C4
}
.highlight .c{
	color:#586E75
}
.highlight .err{
	color:#93A1A1
}
.highlight .g{
	color:#93A1A1
}
.highlight .k{
	color:#859900
}
.highlight .l{
	color:#93A1A1
}
.highlight .n{
	color:#93A1A1
}
.highlight .o{
	color:#859900
}
.highlight .x{
	color:#CB4B16
}
.highlight .p{
	color:#93A1A1
}
.highlight .cm{
	color:#586E75
}
.highlight .cp{
	color:#859900
}
.highlight .c1{
	color:#586E75
}
.highlight .cs{
	color:#859900
}
.highlight .gd{
	color:#2AA198
}
.highlight .ge{
	color:#93A1A1;
	font-style:italic
}
.highlight .gr{
	color:#DC322F
}
.highlight .gh{
	color:#CB4B16
}
.highlight .gi{
	color:#859900
}
.highlight .go{
	color:#93A1A1
}
.highlight .gp{
	color:#93A1A1
}
.highlight .gs{
	color:#93A1A1;
	font-weight:bold
}
.highlight .gu{
	color:#CB4B16
}
.highlight .gt{
	color:#93A1A1
}
.highlight .kc{
	color:#CB4B16
}
.highlight .kd{
	color:#268BD2
}
.highlight .kn{
	color:#859900
}
.highlight .kp{
	color:#859900
}
.highlight .kr{
	color:#268BD2
}
.highlight .kt{
	color:#DC322F
}
.highlight .ld{
	color:#93A1A1
}
.highlight .m{
	color:#2AA198
}
.highlight .s{
	color:#2AA198
}
.highlight .na{
	color:#93A1A1
}
.highlight .nb{
	color:#B58900
}
.highlight .nc{
	color:#268BD2
}
.highlight .no{
	color:#CB4B16
}
.highlight .nd{
	color:#268BD2
}
.highlight .ni{
	color:#CB4B16
}
.highlight .ne{
	color:#CB4B16
}
.highlight .nf{
	color:#268BD2
}
.highlight .nl{
	color:#93A1A1
}
.highlight .nn{
	color:#93A1A1
}
.highlight .nx{
	color:#555
}
.highlight .py{
	color:#93A1A1
}
.highlight .nt{
	color:#268BD2
}
.highlight .nv{
	color:#268BD2
}
.highlight .ow{
	color:#859900
}
.highlight .w{
	color:#93A1A1
}
.highlight .mf{
	color:#2AA198
}
.highlight .mh{
	color:#2AA198
}
.highlight .mi{
	color:#2AA198
}
.highlight .mo{
	color:#2AA198
}
.highlight .sb{
	color:#586E75
}
.highlight .sc{
	color:#2AA198
}
.highlight .sd{
	color:#93A1A1
}
.highlight .s2{
	color:#2AA198
}
.highlight .se{
	color:#CB4B16
}
.highlight .sh{
	color:#93A1A1
}
.highlight .si{
	color:#2AA198
}
.highlight .sx{
	color:#2AA198
}
.highlight .sr{
	color:#DC322F
}
.highlight .s1{
	color:#2AA198
}
.highlight .ss{
	color:#2AA198
}
.highlight .bp{
	color:#268BD2
}
.highlight .vc{
	color:#268BD2
}
.highlight .vg{
	color:#268BD2
}
.highlight .vi{
	color:#268BD2
}
.highlight .il{
	color:#2AA198
}
#not-found{
	height:80vh;
	padding-top:33vh;
	font-size:20px;
	text-align:center;
	text-shadow:1px 1px 0 #fff
}
#not-found>h1{
	margin:0 0 0.75em
}
#post__title {
  margin: 0;
  padding-top: 0.5em
  /*font-size: 2em; */
}

#post__content > p, #post__content > ul, #post__content > ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
#post__content > ol > li {
  margin: .5em 0; }
#post__content li > p {
  margin: 0; }
#post__content a {
  color: #7d8b99;
  word-break: break-all; }
  #post__content a:hover {
    text-decoration: underline; }
#post__content img {
  max-width: 100%;
  max-height: 500px;
  border: 2px solid #e5e8ec;
  border-radius: 5px; }
#home{
	/*padding-top:1em;*/
	font-size:18px;
	line-height:1.8;
	text-align:center
}
#home>h1{
	margin-bottom:10px;
	font-size:1.4em
}
#home>h1+p{
	margin:0 0 2.5em
}
#home>h2{
	margin-bottom:1em;
	font-size:1em
}
#home>ul{
	margin:0 0 100px;
	padding:0;
	list-style:none
}
#home>ul>li{
	margin-bottom:0.75em
}
#home a{
	position:relative;
	color:#4e6584;
	text-decoration:none;
	text-shadow:1px 1px 0 #fff;
	outline:none
}
#home a:after{
	content:"";
	position:absolute;
	left:0;
	bottom:-4px;
	width:100%;
	height:2px;
	background:#309E85;
	transform:scaleX(0);
	transition:transform 0.5s ease
}
#home a:hover:after{
	transform:scaleX(1)
}
@media screen and (max-width: 767px){
	#home{
	font-size:17px
}

}
@media screen and (max-width: 1280px){
	#sidebar{
	left:-551px
}
#sidebar.open{
	transform:translateX(100%)
}
#main{
	width:100%
}
#menu{
	display:block
}
.container{
	max-width:720px;
	width:100%
}

}
@media screen and (max-width: 767px){
	#sidebar{
	left:-100%;
	width:100%;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	transition:transform 0.25s cubic-bezier(0.77, 0, 0.175, 1)
}
#sidebar-left,#sidebar-right{
	float:none;
	width:100%;
	height:auto
}
#sidebar-avatar{
	margin:20px auto 15px
}
#sidebar-tags{
	display:none
}
.sidebar-social-icon{
	margin:0 2px;
	font-size:26px
}
#search-box{
	height:52px
}
#search-box:before{
	line-height:52px
}
#search-input{
	padding-top:10px;
	padding-bottom:10px;
	line-height:32px
}
.post{
	padding-top:20px;
	font-size:16px;
	line-height:1.5
}
.post p,.post ul,.post ol{
	margin-bottom:24px
}
#menu{
	top:0;
	right:0;
	border-radius:0 0 0 2px
}
#not-found{
	font-size:16px
}


}

