table th {
    vertical-align: baseline;
    padding: 5px 15px 5px 6px;
    background-color: #d5d5d5;
    border: 1px solid #aaa;
    text-align: left;
}
table td {
    vertical-align: text-top;
    padding: 6px 15px 6px 6px;
    background-color: #efefef;
    border: 1px solid #aaa;
}
table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #eee;
    border-color: grey;
    display: table;
    margin-top: 10px;
    border: 1px solid #aaa;
}
