<footer id="footer" class="footer">
      <div class="footer-inner">
        <div class="copyright">
  
  ©  2013 - 
  <span itemprop="copyrightYear">2017</span>
  <span class="with-love">
    <i class="fa fa-heart"></i>
  </span>
  <span class="author" itemprop="copyrightHolder"><%=author%></span>
</div>


<div class="powered-by">
  由 percy 先生维护制作
</div>

<div class="theme-info">
  关于 -
  <a class="theme-link" href="http://percychen.com/about/">
    percy先生
  </a>
</div>


        

        
      </div>
    </footer>