<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('.blog-search').bind('input propertychange', function() {
        var keyword=$(this).val();
        if(keyword.length==0){
            $('.article').css("display","block");
            $('.search_ret').css("display","none");
        }else{
            $.get('/searchblog?keyword=' + keyword, function(data, success){
                $('.article').css("display","none");
                $('.search_ret').css("display","block");
                $('.search-ret').empty();
                if (data.length==0) {
                    $('.search-ret').append("<p>没有找到匹配的内容</p>");
                }else{
                    for(var i in data){
                        $('.search-ret').append('<a style="font-weight:bold ; border-bottom: 1px solid #999" href="/article?id='+data[i].id+'">'+data[i].title+' »</a>');
                        $('.search-ret').append('<p style="padding-top:10px"> '+data[i].brief+'</p>');
                        $('.search-ret').append('<div class="split-line" style="margin-top: 20px;border-top: 2px dotted #ccc;padding:10px 0 0"></div>');
                    }
                }
                
                console.log(data)
            });
            }
});
</script>
