---
layout: index
---

<a href="http://yun-percy.github.io">返回 | HOME</a>
<article id="post__content">
  <center><h3 id="post__title" data-identifier="{{ page.date | date: "%Y%m%d" }}">{{ page.title }}</h3></center>
  {{ content }}
</article>
<!-- 多说评论框 start data-title={{ content }}  -->
  <div class="ds-thread" data-thread-key={{page.title}} data-title={{ page.title }} data-url="http://yun-percy.github.io{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"yun-percy"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<p id="copyright">邮件： <a href="mailto:464095417@qq.com" target="_blank">点我联系</a>&nbsp;&nbsp;|&nbsp;&nbsp;微博 <a href="http://weibo.com/u/2641690453" target="_blank">点我进入</a></p>
<center><noscript><a href="http://www.51.la/?17305843" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17305843.asp" style="border:none" /></a></noscript></center>
